{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
# (c) Copyright 2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[keystone_authtoken]
cafile = /etc/ssl/ca-bundle.pem
www_authenticate_uri = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}"
project_domain_name = "{{ KEY_API.vars.keystone_default_domain }}"
project_name = {{ manila_keystone.admin_tenant_name }}
user_domain_name = {{ manila_keystone.default_domain_name }}
password = {{ manila_identity_admin_password }}
username = {{ manila_identity_admin_user }}
auth_url = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}/v3"
auth_type = password
service_token_roles_required = true
memcached_servers: "{% for x in MNL.consumes_FND_MEM.members.private %}{{ x.host }}:{{ x.port }}{%if
 not loop.last %},{% endif %}{% endfor %}"
memcache_secret_key: "{{ MNL.consumes_FND_MEM.vars.memcached.manila.secret_key | quote }}"
memcache_security_strategy = ENCRYPT
memcache_pool_socket_timeout = 1

[DEFAULT]
#log_config_append = {{ manila_api_conf_dir | dirname }}/api-logging.conf
logging_exception_prefix = %(asctime)s.%(msecs)d TRACE %(name)s %(instance)s
logging_debug_format_suffix = from (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d
logging_default_format_string = %(asctime)s.%(msecs)d %(levelname)s %(name)s %(instance)s%(message)s
logging_context_format_string = %(asctime)s.%(msecs)d %(levelname)s %(name)s [%(request_id)s %(user_id)s %(project_id)s] %(instance)s%(message)s
transport_url = rabbit://{{ manila_rabbit_transport_urls }}/
manila_service_keypair_name = manila-service
enabled_share_backends =
replica_state_update_interval = 300
lvm_share_volume_group = lvm-shares
wsgi_keep_alive = False
enabled_share_protocols = NFS,CIFS
check_hash = True
#default_share_type = default
state_path = /tmp/data/manila
osapi_share_extension = manila.api.contrib.standard_extensions
rootwrap_config = /etc/manila/rootwrap.conf
api_paste_config = {{ manila_api_conf_dir | dirname }}/api-paste.ini
share_name_template = share-%s
scheduler_driver = manila.scheduler.drivers.filter.FilterScheduler
debug = True
auth_strategy = keystone
my_ip = {{ manila_bind_host }}
host = {{ manila_bind_host }}
osapi_share_listen = {{ manila_bind_host }}

[DATABASE]
max_pool_size = 40
connection = {{ manila_db }}
max_overflow={{ manila_max_overflow }}
max_pool_size={{ manila_max_pool_size }}

[oslo_concurrency]
lock_path = /tmp/manila/manila_locks

[oslo_messaging_rabbit]
ssl = {{ manila_rabbit_use_ssl }}
ssl_ca_file = /etc/ssl/ca-bundle.pem

[neutron]
cafile = /etc/ssl/ca-bundle.pem
www_authenticate_uri = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}"
project_domain_name = "{{ KEY_API.vars.keystone_default_domain }}"
project_name = {{ manila_keystone.admin_tenant_name }}
user_domain_name = {{ manila_keystone.default_domain_name }}
password = {{ manila_keystone.admin_password }}
username = {{ manila_keystone.admin_user }}
auth_url = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}/v3"
auth_type = password

[nova]
cafile = /etc/ssl/ca-bundle.pem
www_authenticate_uri = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}"
project_domain_name = "{{ KEY_API.vars.keystone_default_domain }}"
project_name = {{ manila_keystone.admin_tenant_name }}
user_domain_name = {{ manila_keystone.default_domain_name }}
password = {{ manila_keystone.admin_password }}
username = {{ manila_keystone.admin_user }}
auth_url = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}/v3"
auth_type = password

[cinder]
cafile = /etc/ssl/ca-bundle.pem
www_authenticate_uri = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}"
project_domain_name = "{{ KEY_API.vars.keystone_default_domain }}"
project_name = {{ manila_keystone.admin_tenant_name }}
user_domain_name = {{ manila_keystone.default_domain_name }}
password = {{ manila_keystone.admin_password }}
username = {{ manila_keystone.admin_user }}
auth_url = "{{ MNL_API.consumes_KEY_API.vips.private[0].url }}/v3"
auth_type = password

# backend section for backendNetApp1 (driver_handles_share_servers = True)
# to use this backend, please uncomment and fill in values for netapp-admin-user,
# netapp-password, netapp-host, netapp-aggregate

#[backendNetApp1]
#share_driver = manila.share.drivers.netapp.common.NetAppDriver
#driver_handles_share_servers = True
#share_backend_name = backendNetApp1
#netapp_login = <netapp-admin-user>
#netapp_password = <netapp-password>
#netapp_server_hostname = <netapp-host>
#netapp_root_volume_aggregate = <netapp-aggregate>

# backend section for backendNetApp2 (driver_handles_share_servers = False)
# to use this backend, please uncomment and fill in values for netapp-host,
# netapp-admin-user, netapp-password, netapp-vserver, netapp-communicate-protocol
# (http or https)

#[backendNetApp2]
#share_driver = manila.share.drivers.netapp.common.NetAppDriver
#driver_handles_share_servers = False
#share_backend_name = backendNetApp2
#netapp_server_hostname = <netapp-host>
#netapp_login = <netapp-admin-user>
#netapp_password = <netapp-password>
#netapp_vserver = <netapp-vserver>
#netapp_transport_type = <netapp-communicate-protocol>
#netapp_aggregate_name_search_pattern = ^((?!aggr0).)*
#network_api_class = manila.network.neutron.neutron_network_plugin.NeutronNetworkPlugin
